body,
html {
    font-style: normal;
    overflow-x: hidden;
    width: 100vw;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.svg-icon {
    width: 100%;
    height: 100%;

    fill: currentColor;
}

section {
    width: 100%;
    padding: 24px 16px 40px;
}

h1 {
    display: inline-flex;
    justify-content: center;

    font-family: $mont;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.7em;
    color: $c-white;

    @media ($m-s) {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
    }
}

h2 {
    margin: 10px 0 20px;

    font-family: $mont;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $c-white;
    text-align: center;

    @media ($m-xxxs) {
        font-size: 32px;
        line-height: 39px;
    }

    @media ($m-mm) {
        font-size: 40px;
        line-height: 49px;
    }
}

p {
    margin-bottom: 1rem;

    font-family: $raleway;
    color: $c-white;
    font-size: 16px;
    line-height: 24px;

    @media ($m-xxxs) {
        font-size: 18px;
        line-height: 27px;
    }

    @media ($m-s) {
        font-size: 18px;
        line-height: 27px;
    }
}

.caption {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    z-index: 5;

    color: $c-gray;

    &--centred {
        display: flex;
        align-items: center;

        text-align: center;

        @media ($m-s) {
            font-size: 16px;
            line-height: 24px;
        }

        @media ($m-mm) {
            font-size: 24px;
            line-height: 36px;
        }
    }
}